


<section class="row">
<div class="slider col s12">
    <ul class="slides">
      <li>
        <img src="../assets/imagen.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="brown-text text-darken-2">La Candelaria</h3>
        </div>
      </li>
      <li>
        <img src="../assets/imagen1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Plaza de Bolivar</h3>
        </div>
      </li>
      <li>
        <img src="../assets/imagen2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Chorro de Quevedo</h3>
        </div>
      </li>
      <li>
        <img src="../assets/imagen3.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Teatro Municipal Jorge Eliecer Gaitan</h3>
        </div>
      </li>
    </ul>
  </div>
</section>

<script src="../assets/welcome.js"></script>


